body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 3% 5% 2% 5%; */
    background-color: white;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 90%;
    padding: 4% 0;
}

.logo img {
    width: 100%;
}



.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-set-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding: 10px;
}

.nav-links a:hover {
    background-color: rgba(185, 255, 102, 1);
    border-radius: 5px;
}

.quote-button {
    padding: 8px 16px;
    border: 1px solid rgba(25, 26, 35, 1);
    border-radius: 6px;
    transition: background-color 0.3s;
}

.quote-button a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.quote-button:hover {
    background-color: rgba(185, 255, 102, 1);
    color: white;
}

.lan {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .logo {
        width: 30%;
    }

    .nav-set-flex {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 20px;
        display: none;
        gap: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .nav-set-flex.active {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 0;
    }

    .quote-button a {
        align-self: flex-start;
    }
}

.hero-flex {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 3% 5% 5% 5%; */
    width: 90%;
}

.hero-content {
    width: 46%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.hero-content h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 37px;
    font-weight: 500;
    margin: 0;
    /* margin-bottom: 20px; */
    /* line-height: 100%; */
    margin: 0;
    color: rgba(0, 0, 0, 1);
}

.hero-content p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* margin-bottom: 30px; */
    margin: 0;
    color: rgba(0, 0, 0, 1);
    width: 96%;
}

.hero-btn {
    background-color: rgba(25, 26, 35, 1);
    color: rgba(255, 255, 255, 1);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: rgba(185, 255, 102, 1);
    color: rgba(25, 26, 35, 1);
}

.hero-image img {
    width: 100%;
}

.hero-image {
    width: 45%;
}

.set-imgs-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 0% 0;
}

.set-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 3% 5% 5% 5%; */
    flex-wrap: wrap;
    width: 90%;
}

.set-width {
    width: 10%;
}

.set-width img {
    width: 100%;
}

.services-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.services {
    width: 90%;
}


.services-header .highlight {
    background-color: rgba(185, 255, 102, 1);
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    padding: 10px;
    margin: 0;
}

.services-header .marketing-agency {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    width: 51%;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    /* gap: 4%; */
    width: 100%;
}

.engineoptimization {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.services-grid-width {
    width: 40%;
}

.services-grid-width img {
    width: 100%;
}

.service-card {
    width: 44%;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(25, 26, 35, 1)
}

.service-card h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 100%;
    background-color: rgba(185, 255, 102, 1);
    width: 44%;
}

.Marketing-service {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 100%;
    background-color: rgba(185, 255, 102, 1);
    width: 30%;
}

.learn-more.white {
    color: white;
}

.learn-more {
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    gap: 0.6em;
    font-weight: 400;
    font-family: "Space Grotesk", sans-serif;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(25, 26, 35, 1);
    transition: background-color 0.3s ease;
    padding: 2%;
}

.arrow svg path {
    transition: fill 0.3s ease;
}

.learn-more:hover .arrow {
    border: 1px solid rgba(25, 26, 35, 1);
    background-color: rgba(185, 255, 102, 1);
}

.learn-more:hover .arrow svg path {
    fill: rgba(25, 26, 35, 1);
}

.arrowes {
    display: flex;
    padding: 2%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.learn-more:hover .arrowes {
    background-color: rgba(185, 255, 102, 1);
}

.service-card.light {
    background-color: rgba(243, 243, 243, 1);
}

.service-card.green {
    background-color: rgba(185, 255, 102, 1);
}

.service-card.blackes {
    background-color: rgba(25, 26, 35, 1);
}

.highlight-white {
    background-color: white;
    padding: 4px 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 100%;
    width: 39%;
}

.highlight-Creation {
    background-color: white;
    padding: 4px 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 100%;
    width: 25%;
}

.highlight-Tracking {
    background-color: rgba(185, 255, 102, 1);
    padding: 4px 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 100%;
    width: 39%;
}

.services-header {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 3%;
}

.cta-section-flex {
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

.cta-section {
    background-color: rgba(243, 243, 243, 1);
    border-radius: 24px;
    /* margin: 5% 5%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.cta-text {
    padding-left: 3%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cta-text h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin: 0%;
}

.cta-text p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    margin: 0%;
}

.cta-btn {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: inline-block;
    background-color: rgba(25, 26, 35, 1);
    color: #fff;
    padding: 12px 24px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 45%;
}

.cta-btn:hover {
    background-color: rgba(185, 255, 102, 1);
    color: rgba(25, 26, 35, 1);
}

.cta-image {
    width: 50%;
}

.cta-image img {
    width: 100%;
    height: auto;
}

.case-studies-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.case-studies {
    /* padding: 5% 5%; */
    width: 90%;

}

.case-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.case-header h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 10px;
    background-color: rgba(185, 255, 102, 1);
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0;
}

.case-header p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    width: 50%;
}

.case-cards {
    margin-top: 5%;
    background-color: rgba(25, 26, 35, 1);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.case-card {
    width: 29%;
}

.border-left {
    border: 1px solid #FFFFFF;
    margin: 0 5% 0 0;
}

.border-right {
    border: 1px solid #FFFFFF;
    margin: 0 3% 0 3%;
}

.case-card p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    text-align: start;
}

.case-card a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(185, 255, 102, 1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.case-card svg:hover {
    /* transform:scaley(1.1); */
    padding-bottom: 8px;
    padding-left: 8px;
    transition-duration: 1s;
}

hr {
    border: 1px solid #000000
}

.arrow {
    font-size: 14px;
    margin-left: 4px;
}

.process-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.process {
    /* padding: 5% 5%; */
    width: 90%;
    margin: 0;
}

.process-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 5%;
}

.process-header p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    width: 27%;
    margin: 0%;
}

.highlight {
    background-color: rgba(185, 255, 102, 1);
    padding: 4px 10px;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin: 0;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-item {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f4f4f4;
    box-shadow: 0 4px 0 #000;
}

.accordion-item.active {
    background-color: rgba(185, 255, 102, 1);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    cursor: pointer;
}

.toggle-btn .plus-icon {
    display: inline;
}

.toggle-btn .minus-icon {
    display: none;
}

.accordion-item.active .toggle-btn .plus-icon {
    display: none;
}

.accordion-item.active .toggle-btn .minus-icon {
    display: inline;
}

.step {
    font-size: 20px;
    font-weight: 600;
}

.step {
    display: flex;
    align-items: center;
    margin: 0;
    height: auto;
    gap: 10px;
}

.step span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    margin-right: 10px;
}

.consultation-accordion-body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.step p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-right: 10px;
    margin: 0;
}

.toggle-btn {
    font-size: 45px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-body {
    display: none;
    padding: 0 24px 24px;
    font-size: 14px;
    line-height: 1.6;
}

.accordion-item.active .accordion-body {
    display: block;
}

.team-container-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.team-container {
    /* padding: 5% 5%; */
    width: 90%;
    margin: 2% 0 0 0;
}

.team-heading {
    text-align: left;
    padding-bottom: 1%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-title {
    background-color: rgba(185, 255, 102, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin: 0;
    padding: 2px 5px;
    border-radius: 5px;
}

.section-subtitle {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    width: 40%;
}

.team-members {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 3% 0;
    width: 100%;
}

.member-card {
    background: #fff;
    border: 1px solid rgba(25, 26, 35, 1);
    border-radius: 14px;
    padding: 20px;
    width: 28%;
    position: relative;
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}


.member-name {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin: 5px 0;
}

.member-position {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    margin: 0%;
}

.member-info {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
}

.linkedin-badge {
    position: absolute;
    top: 37px;
    right: 15px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.team-footer {
    text-align: end;
    margin-top: 30px;
}

.John-Smith-member {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 25px;
    padding-top: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    padding-bottom: 5%;
}

.John-Smith-member-width {
    width: 35%;
}

.John-Smith-member-width img {
    width: 100%;
}

.view-all-btn {
    background: rgba(25, 26, 35, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.view-all-btn:hover {
    background: rgba(185, 255, 102, 1);
    color: rgba(25, 26, 35, 1);
}



.testimonial-section-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.testimonial-section {
    margin: 0;
    /* padding: 5%; */
    width: 90%;
    text-align: center;
}

.testimonial-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5%;
}

.testimonial-header h2 {
    background-color: rgba(185, 255, 102, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    padding: 3px;
    margin: 0;
}

.testimonial-header p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    margin: 0%;
    width: 42%;
    text-align: start;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(25, 26, 35, 1);
    padding: 40px 0;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-card {
    min-width: 100%;
    max-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.testimonial-card p {
    border: 1px solid rgba(185, 255, 102, 1);
    border-radius: 16px;
    padding: 20px;
    width: 47%;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-align: start;
}

/* 
.testimonial-card p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50px;
  width: 0;
  height: 0;
  border-top: 10px solid rgba(185, 255, 102, 1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
} */

.author {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    width: 50%;
    text-align: start;
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author h4 {
    color: rgba(185, 255, 102, 1);
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.author span {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.nav {
    position: absolute;
    /* top: 50%; */
    bottom: 23px;
    /* transform: translateY(-50%); */
    background: none;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.nav.prev {
    left: 300px;
}

.nav.next {
    right: 300px;
}

.dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 3%;
}

.dots span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dots .active {
    background: #7aff44;
}


.contact-section-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.contact-section {
    margin: 0;
    width: 90%;
    /* padding: 5%; */
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-header h2 {
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    line-height: 100%;
    background: #b5ff69;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 0;
}

.contact-header p {
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    width: 34%;
}

.contact-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    margin-top: 5%;
    padding: 4% 0px 5% 5%;
    border-radius: 24px;
    gap: 30px;
    /* flex-wrap: wrap; */
}

.contact-form {
    width: 45%;
    /* flex: 1; */
    /* min-width: 280px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5%;
}

.Quote {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Quote input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    background-color: white;
}

.Quote input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #b9ff66;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.Quote label {
    font-size: 14px;
    cursor: pointer;
}

.contact-form label {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #888;
    opacity: 1;
    /* ensure consistent appearance in Firefox */
}

.contact-form textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-form button {
    background: rgba(25, 26, 35, 1);
    color: rgba(255, 255, 255, 1);
    padding: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: rgba(185, 255, 102, 1);
    color: rgba(25, 26, 35, 1);
}

.svg-decor {
    width: 25%;
}

.svg-decor img {
    width: 100%;
}

.Quote {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Quote label {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}


.footer-flex {
    display: flex;
    justify-content: center;
    padding: 5% 0 0 0;
}

.footer {
    background: rgba(25, 26, 35, 1);
    color: #fff;
    /* margin: 5% 5% 0 5%; */
    padding: 3% 5%;
    width: 80%;
    border-radius: 10px 10px 0px 0px;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
}

.logo {
    width: 20%;
}

.logo-icon {
    font-size: 22px;
    margin-right: 8px;
}

.logos {
    width: 100%;
}

.logos img {
    width: 100%;
}

.footer-nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-nav a {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: underline;
}

.footer-nav a:hover {
    color: rgba(185, 255, 102, 1);
}

.footer-social a {
    margin-left: 15px;
    text-decoration: none;
    display: inline-block;
}

.footer-social a svg {
    fill: white;
    border-radius: 50%;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover svg {
    transform: scale(1.1);
}

.footer-social a:hover svg circle {
    fill: #7aff44;
}

.footer-social a.linkedin:hover svg {
    fill: #7aff44;
}

.footer-social a.facebook:hover svg {
    fill: #7aff44;
}

.footer-social img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-contact {
    flex: 1;
    min-width: 220px;
    font-size: 14px;
}

.contact-label {
    font-family: "Space Grotesk", sans-serif;
    background-color: rgba(185, 255, 102, 1);
    color: rgba(0, 0, 0, 1);
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.contact-label:hover {
    color: rgba(185, 255, 102, 1);
    background-color: rgba(0, 0, 0, 1);
}

.footer-contact p {
    color: rgba(255, 255, 255, 1);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer-contact p:hover {
    color: rgba(185, 255, 102, 1);
}

.footer-contact-StMoonstone {
    width: 56%;
}

.footer-subscribe {
    background: rgba(41, 42, 50, 1);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 45%;
}

.footer-subscribe input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: transparent;
    color: #fff;
    outline: none;
    width: 40%;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.footer-subscribe input::placeholder {
    color: rgba(255, 255, 255, 1);
}


.footer-subscribe a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    background: rgba(185, 255, 102, 1);
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.footer-subscribe a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(185, 255, 102, 1);
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding-top: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    align-items: center;

}

.footer-bottom p:hover {
    color: rgba(185, 255, 102, 1);
}

.footer-bottom a:hover {
    color: rgba(185, 255, 102, 1);
}

.footer-bottom a {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

@media (max-width:5120px) {
    .hero-btn {
        width: 10%;
    }
}

@media (max-width:4117.33px) {
    .hero-btn {
        width: 15%;
    }
}

@media (max-width:3184px) {
    .hero-btn {
        width: 20%;
    }
}

@media (max-width:2394px) {
    .hero-btn {
        width: 25%;
    }
}

@media (max-width:1920px) {
    .hero-btn {
        width: 30%;
    }
}

@media (max-width:1605px) {
    .hero-btn {
        width: 35%;
    }
}

@media (max-width:1392px) {
    .hero-btn {
        width: 40%;
    }
}

@media (max-width:1222px) {
    .hero-btn {
        width: 45%;
    }

    .cta-btn {
        width: 50%;
    }
}

@media (max-width:1182px) {
    .nav-links a {
        font-size: 18px;
    }

    .quote-button a {
        font-size: 18px;
    }

    .nav-links a {
        font-size: 14px;
    }

    .quote-button a {
        font-size: 14px;
    }
}

@media (max-width:1100px) {
    .cta-btn {
        width: 55%;
    }
}

@media (max-width:1055.56px) {
    .hero-btn {
        width: 50%;
    }
}

@media (max-width:1030px) {
    .highlight-white {
        width: 45%;
    }

    .service-card h3 {
        width: 52%;
    }

    .Marketing-service {
        width: 45%;
    }

    .highlight-Creation {
        width: 35%;
    }

}

@media (max-width:999px) {
    .cta-btn {
        width: 60%;
    }

    .nav-links a {
        font-size: 10px;
    }

    .quote-button a {
        font-size: 10px;
    }
}

@media (max-width:950px) {
    .hero-btn {
        width: 55%;
    }
}

@media (max-width:920px) {
    .cta-btn {
        width: 65%;
    }
}

@media (max-width:880px) {
    .quote-button a {
        font-size: 8px;
    }

    .nav-links a {
        font-size: 8px;
    }
}

@media (max-width:875px) {
    .member-name {
        font-size: 10px;
    }

    .hero-btn {
        width: 60%;
    }

    .member-position {
        font-size: 11px;
    }

    .member-info {
        font-size: 13px;
    }
}

@media (max-width:870px) {
    /* .team-members {
        flex-direction: column;
        align-items: center;
    } */

    .team-footer {
        text-align: center;
    }

    .testimonial-card p {
        width: 70%;
    }

    .nav.next {
        right: 200px;
    }

    .nav.prev {
        left: 200px;
    }

    .svg-decor {
        width: 40%;
    }

    .services-grid {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .service-card {
        width: 90%;
    }

}

@media (max-width:850px) {
    .cta-btn {
        width: 70%;
    }
}

@media (max-width:820px) {
    .member-card {
        width: 25%;
    }


}

@media (max-width:795px) {
    .hero-btn {
        width: 65%;
    }

    .cta-btn {
        width: 75%;
    }

}

@media (max-width:768px) {
    .hero-btn {
        width: 30%;
        text-align: center;
    }

    .quote-button a {
        font-size: 18px;
    }

    .nav-links a {
        font-size: 18px;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .member-name {
        font-size: 20px;
    }

    .member-position {
        font-size: 18px;
    }

    .member-info {
        font-size: 18px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
    }

    .border-left {
        display: none;
    }

    .border-right {
        display: none;
    }

    .hero-content {
        width: 100%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .hero-content h1 {
        width: 100%;
        margin: 0;
        /* font-size: 36px; */
    }

    .services-header {
        flex-direction: column;
        align-items: start;
    }

    .services-header .marketing-agency {
        width: 95%;
    }

    /* .cta-section {
        flex-direction: column;
        align-items: center;
        height: auto;
    } */
    .cta-text h2 {
        font-size: 24px;
    }

    .cta-text p {
        font-size: 14px;
    }


    .cta-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* width: auto; */
        padding-top: 3%;
        text-align: start;
    }

    .cta-btn {
        width: 50%;
        font-size: 13px;
    }

    .case-header {
        flex-direction: column;
        align-items: start;
        text-align: start;
    }

    .case-header p {
        width: 100%;
    }

    .case-cards {
        flex-direction: column;
        align-items: center;
    }

    .case-card {
        width: 90%;
    }

    .process-header {
        flex-direction: column;
        align-items: start;
    }

    .process-header p {
        width: 100%;
    }

    .step p {
        font-size: 23px;
    }

    .team-heading {
        flex-direction: column;
        align-items: start;
    }

    .section-subtitle {
        width: 100%;
    }

    .member-card {
        width: 90%;
    }

    .testimonial-header {
        flex-direction: column;
        align-items: start;
    }

    .testimonial-header p {
        width: 100%;
    }

    .testimonial-card p {
        width: 92%;
    }

    .contact-header {
        flex-direction: column;
        align-items: start;
    }

    .contact-header p {
        width: 100%;
    }

    .contact-card {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        width: 100%;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
    }

    .footer-middle {
        flex-direction: column;
        align-items: center;
    }

    .footer-subscribe {
        width: 100%;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .svg-decor img {
        display: none;
    }

    .footer-brand {
        width: 25%;
    }
}

@media (max-width:733px) {
    .hero-btn {
        width: 35%;
    }
}

@media (max-width:715px) {
    .cta-text h2 {
        font-size: 20px;
    }

    .cta-btn {
        width: 55%;
    }
}

@media (max-width:650px) {
    .cta-btn {
        width: 60%;
        font-size: 11px;
    }
}

@media (max-width:630px) {
    .hero-btn {
        width: 40%;
    }
}

@media (max-width:555px) {
    .hero-btn {
        width: 45%;
    }
}

@media (max-width:520px) {
    .cta-btn {
        width: 65%;
    }
}

@media (max-width:495px) {
    .hero-btn {
        width: 50%;
    }
}

@media (max-width:480px) {
    .cta-section {
        flex-direction: column;
        align-items: center;
    }

    .cta-text {
        width: auto;
    }

    .learn-more {
        justify-content: center;
    }

    .hero-btn {
        width: 60%;
    }

    .services-header {
        align-items: center;
    }

    .cta-text {
        align-items: center;
        text-align: center;
    }

    .cta-btn {
        width: 40%;
    }

    .footer-subscribe {
        width: 95%;
    }

    .logo {
        width: 40%;
    }

    .team-members-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-members {
        width: 90%;
    }

    .hero-content {
        text-align: center;
        align-items: center;
    }

    .case-card a {
        justify-content: center;
    }

    .case-card p {
        text-align: center;
    }

    .hero-content h1 {
        width: 100%;
        font-size: 44px;
    }

    .hero-content p {
        width: auto;
    }

    .process-header {
        text-align: center;
    }

    .hero-image {
        width: 100%;
    }

    .engineoptimization {
        flex-direction: column;
        align-items: center;
    }

    .service-card h3 {
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .highlight-white {
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .Marketing-service {
        width: 100%;
        padding: 2%;
        text-align: center;
    }

    .highlight-Creation {
        width: auto;
    }

    .cta-section {
        margin: 0;
    }

    .highlight-Tracking {
        width: 100%;
    }

    .case-card {
        width: 100%;
    }

    /* .footer {
        margin: 0%;
    } */

    .process-header p {
        width: 89%;
        text-align: center;
    }

    .case-header {
        text-align: center;
        align-items: center;
    }

    .team-heading {
        align-items: center;
    }

    .testimonial-header {
        align-items: center;
    }

    .contact-header {
        align-items: center;
    }

    .member-info {
        font-size: 17px;
        text-align: center;
    }

    .footer-contact {
        text-align: center;
    }

    .case-header p {
        width: auto;
    }

    .step span {
        font-size: 33px;
    }

    .step p {
        font-size: 14px;
    }

    .consultation-accordion-body {
        font-size: 14px;
    }

    .section-subtitle {
        width: 100%;
        text-align: center;
    }

    /* 
    .cta-image {
        width: 100%;
    } */

    .member-card {
        width: 95%;
    }

    .testimonial-header p {
        width: 100%;
        text-align: center;
    }

    .testimonial-card p {
        width: 100%;
    }

    .nav.prev {
        left: 50px;
    }

    .nav.next {
        right: 50px;
    }

    .nav {
        bottom: 17px;
    }

    .svg-decor {
        width: 100%;
    }

    .footer {
        margin: 0;
        border-radius: 0%;
        width: 100%;
    }

    .footer-subscribe {
        flex-direction: column;
        align-items: center;
    }

    .footer-subscribe input {
        width: 62%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .set-imgs {
        padding: 0 3%;
        width: auto;
    }

    .services-header .marketing-agency {
        text-align: center;
    }

    .cta-text p {
        width: 100%;
        text-align: center;
    }

    .cta-text h2 {
        width: auto;
    }

    .case-studies {
        padding: 5% 0;
    }

    .case-cards {
        border-radius: 0;
    }

    .case-cards {
        gap: 30px;
    }

    .highlight {
        width: auto;
    }

    .contact-header p {
        width: 100%;
        text-align: center;
    }

    .footer-contact-StMoonstone {
        width: 79%;
    }

    .footer-subscribe a {
        width: 61%;
    }
}